[package]
name = "attestation-exported-authenticators"
version = "0.1.0"
edition = "2024"

[dependencies]
rustls = { version = "0.23.5", default-features = false, features = ["std"] }
x509-parser = "0.18.0"
asn1-rs = "0.7.1"
rcgen = "0.14.3"
p256 = "0.13.2"
sha2 = "0.10.9"

[dev-dependencies]
quinn = "0.11.9"
tokio = { version = "1.28.1", features = ["full"] }
tdx-quote = "0.0.3"
rand_core = { version = "0.6.4", features = ["getrandom"] }
configfs-tsm = "0.0.1"

[features]
default = ["mock"]
mock = ["tdx-quote/mock"]
